@using BlazorEcommerce.Client.Services.CartService;
@inject ICartService CartService
@inject ISyncLocalStorageService LocalStorage
@implements IDisposable

@* This component represents the counter icon for the Cart *@

<a href="cart" class="btn btn-info">
	<i class="oi oi-cart"></i>
	<span class="badge">@GetCartItemsCount</span>
</a>

@code {
	private int GetCartItemsCount()
	{
		return LocalStorage.GetItem<int>("cartCount");
	}

	protected override void OnInitialized()
	{
		CartService.OnCartChange += StateHasChanged;
	}

	public void Dispose()
	{
		CartService.OnCartChange -= StateHasChanged;
	}
}
